<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://swiftpixel.com/earbud/api/infoboxes/"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>